@import url("https://fonts.googleapis.com/css2?family=Sen&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Sen", sans-serif;
  font-size: 1.7em;
}

#homepage-body {
  background: #E7E8EA url(../images/background-desktop.png) no-repeat 20% 90%;
  background-size: cover;
}

header {
  text-align: center;
}

#logo {
  width: 8rem;
}

main{
  padding-bottom: 4rem;
}

.main-container {
  width: 55%;
  text-align: center;
  margin-left: 3rem;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
  color: #9f7e74;
}

p {
  line-height: 3rem;
  margin-top: 1rem;
}


.modal-btn {
  margin: 2rem 1rem;
}

/* Styles for learn more and instructions buttons modal windows */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #e7e8ea;
  margin: 0 auto;
  /* 15% from the top and centered */
  padding: 2rem 5rem;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-content h1 {
  margin: 7rem 0 3rem;
}

/* Modal close btn */
.close-modal-btn-box {
  background-color: #9f7e74;
  color: #E7E8EA;
  float: right;
  font-size: 3rem;
  width: 60px;
  cursor: pointer;
}


button {
  background-color: #9f7e74;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Tenor Sans", sans-serif;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#start-quiz {
  display: block;
  font-size: 2.2rem;
  margin: 1rem auto;
}

footer {
  background-color: #9f7e74;
  padding: 1rem 3rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

footer i {
  color: #e7e8ea;
}

.social-container {
  display: flex;
  justify-content: space-between;
}

/* Quiz page styles */

.container {
  width: 50%;
  background-color: #9f7e74;
  color: #e7e8ea;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

#question-counter {
  font-size: 1rem;
}

#question-text {
  margin: 2rem 2rem 0;
  font-family: "Tenor Sans", sans-serif;
}

.btn-option {
  background-color: #e7e8ea;
  color: black;
  border: 1p solid black;
  display: block;
  width: 80%;
  margin: 1rem auto 0;
  padding: 2rem;
  font-family: "Sen", sans-serif;
  text-transform: lowercase;
}

.selected-answer {
  background-color: rgba(3, 3, 3, 0.3);
  color: #E7E8EA;
  border: 1px solid #E7E8EA;
}

.controls {
  margin: 0 auto;
}

.controls button {
  margin-top: 2rem;
  color: black;
  background-color: #e7e8ea;
}

/* Sign up page styles*/

.sign-up-container {
  padding: 2rem 3rem;
  margin-bottom: 2rem;
}

#sign-up-heading {
  color: #e7e8ea;
  margin-bottom: 2rem;
}

#sign-up-p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.signup-form input,
.signup-form textarea {
  display: block;
  margin: 1rem auto;
  padding: 0.8rem;
  text-align: center;
  width: 80%;
}

.sign-up-container .btn {
  background-color: #e7e8ea;
  color: #9f7e74;
  margin-top: 1rem;
}

.sign-up-container button{
  font-weight: bold;
}

.sign-up-container button:hover{
  color: black;
}

/* Results page */

#results-container h1 {
  color: #e7e8ea;
}

#chart-legend-div{
  margin-top: 3rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.legend-color{
  width: 30px;
  height: 30px;
  border: 1px solid #E7E8EA;
  margin: 0 auto;
}

#chart_div {
  width: 100%;
  height: 300px;
  margin: 3rem auto;
  padding: 1rem;
}

#chart_div * {
  font-family: "Tenor Sans", sans-serif;
  color: black;
}

/* Media queries */
/* Media queries for large and medium devices (landscape tablets, laptops/desktops 1021 px and down) */
@media only screen and (max-width: 1021px) {
  main{
    margin-top: 0;
  }
  #start-quiz{
    margin: 0 auto 1.3rem
  }

  .main-container {
    width: 65%;
    
    margin-left: 2rem;
  }

  .container{
    width: 70%;
  }
}


/* media queries for medium and small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

  body {
    font-size: 1.5rem;
  }

  main {
    margin-top: 1rem;
  }



  .modal-btn {
    display: block;
    margin: 1rem auto;
    padding: 0.7rem 1rem;
  }

  #start-quiz {
    font-size: 2rem;
  }
}

/* Media queries for small/extra small devices (phones and large phones, 666px and down) */
@media only screen and (max-width: 666px) {

  #homepage-body {
    background-image: none;
  }

  .main-container {
    width: 80%;
    margin: 2rem auto;
  }

  .modal-btn {
    margin-top: 2rem;
  }

  #start-quiz {
    margin-top: 3rem;
  }

  .modal-content {
    padding: 1rem 2rem;
  }

  .container{
    width: 70%;
  }

  #sign-up-heading{
    font-size: 2.2rem;
  }

}

@media only screen and (max-width: 450px) {
  .main-container h1 {
    font-size: 2.5rem;
  }

  .main-container p {
    font-size: 1.3rem;
  }

  #start-quiz {
    font-size: 1.4rem;
  }

  .modal-content h1 {
    font-size: 2rem;
  }
  .sign-up-container{
    padding: 1rem 2rem 2rem;
  }
  #sign-up-heading{
    margin-top: 1rem;
    font-size: 1.7rem;
  }

  
}